@font-face {
  font-family: 'ld_ozregular';
  src: url('ld_oz_fn-webfont.woff2') format('woff2'),
  url('ld_oz_fn-webfont.woff') format('woff'),
  url('ld_oz_fn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

h1 {
  font-family: 'ld_ozregular', Arial, sans-serif;
  font-size: 60px;
}
